{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": 0,
    "no-debugger": "error",
    "no-var": "error",
    "comma-dangle": "off",
    "no-use-before-define": "off",
    "no-multi-spaces": "error",
    "no-control-regex": "off",
    "quotes": [
      "error",
      "single",
      // { "allowTemplateLiterals": true },
      { "avoidEscape": true }
    ],
    "space-before-function-paren": "off",
    "func-call-spacing": "off",
    "no-undef": "off",
    "multiline-ternary": "off"
  }
}